* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url('img/jumbo.png');
    background-size: cover;
}

.container {
    max-width: 1024px;
    min-height: 600px;
    margin: 0 auto;
}

.container .row {
    width: 100%;
    min-height: 70px;
}

.col-1 img {
    min-width: 50px;
    width: 100%;
}

a {
    text-decoration: none;
    color: currentColor;
}

.col-2 ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    color: white;
}

.col-3 .sign {
    background-color: white;
    padding: 10px 15px;
    border-radius: 30px;
    display: inline-block;
}

.row [class*="col"] {
    float: left;
}

.row .col-2 {
    width: 70%;
    padding: 25px;
    text-align: center;
}

.row .col-1 {
    padding: 25px;
}

.row .col-3 {
    padding: 25px;
}

.row-2 .col-4 {
    color: white;
    width: 60%;
    text-align: center;
    margin: auto; 
    margin-top: 15%;
}

.col-4 p {
    font-weight: 500;
    padding-top: 30px;
    padding-bottom: 25px;
}

.button-header .button-mac {
    background-color: white;
    color: black;
    padding: 9px 20px;
    border-radius: 30px;
    display: inline-block;
    margin-right: 20px;
}

.button-header .button-browser {
    background-color: black;
    padding: 12px 20px;
    border-radius: 30px;
    display: inline-block;
}

.col-4 .button-header {
    width: 100%;
}
